body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* BORDEEEERRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR to check*/

/* .bb {
    border: 1px solid red;
}
.c 
{
    border: 1px solid blue;
} */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: #757575;
}

.cart {
    background-color: #ffffff;
    border: none;
    color: #757575;
    border-radius: 3px;

}

.cart:hover {
    background-color: #ffbe98;

}

.logo-image img {
    width: 70px;
    height: 42px;

    padding: 0;
    margin-left: 85px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 85px;
    padding: 0px;

}

.menu a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: small;

}

.bold {
    font-weight: 600;
}

.menu button {
    margin: 0;
    padding: 0;
    font-size: small;

}

/* BANNER SECTION STARTS */

.banner {
    margin: 80px 85px;
    display: flex;
    /* align-content: center; */

}

.orange {
    color: #E95A08;
}

.tagline {
    font-size: 3.3rem;
    margin: 0;
    padding-top: 1.2rem;
}

.info {
    font-size: .8rem;
    margin-top: 17px;

    color: #757575;
}

.banner-img img {

    width: 370px;
    height: 222px;
}







/* -------------OUR PLANTS-------------- */
.our-plants-section {
    text-align: center;
    /* padding: 50px 20px; */
    margin: 80px 85px;

}

/* .test {
    width: 70px;
    height: 384px;
    

} */

.section-heading {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.orange-text {
    color: #E95A08;
    font-weight: bold;
}

.black-text {
    color: #000;
    font-weight: bold;
}

.section-description {
    padding: 0px 80px;
    color: #757575;
    font-size: .9rem;
    font-weight: 100;

}

.plant-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.plant-card {
    background-color: #ffffff;




}

.plant-card img {
    width: 155px;
    height: auto;
    border-radius: 2px;
}

.plant-name {
    margin: 15px 0 5px;
    font-size: 1rem;
    font-weight: 500;
    color: #111;
}

.plant-price {
    font-weight: bold;
    font-size: .9rem;
    margin: 0px;
}

.add-to-cart {
    background-color: #E95A08;
    color: white;
    border: none;
    width: 155px;
    /*same as iamge  */
    font-size: .5rem;
    font-weight: 500;
    padding: 10px 0px;
    cursor: pointer;
    margin-top: 9px;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #d14e06;
}





/* -------------FLOWER LOVER SECTION----------- */

.flower-lover-section {
    max-width: 1440px;
    margin: 0 120px;
    padding: 0px 5px;
    display: flex;
    align-items: center;


}

.flower-lover-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0px;

}

.image-container {
    position: relative;
    flex: 1;

}

.image-container .main-image {
    width: 100%;
    height: auto;
    padding: 5px;
    flex: 1;
    margin: 0px 0px;



}

.image-container .badge {
    position: absolute;
    top: -30px;
    right: -40px;
    width: 120px;
    height: auto;
}

.text-container {
    margin: 0px;
    padding: 0px;
    flex: 1;
    height: auto;


}

.text-container h2 {
    font-size: 2.1rem;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 0px;
    margin-top: 20px;

}

.text-container ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #757575;
    font-size: .75rem;
}

.text-container li {
    margin-bottom: 10px;

}


/* DEAAAAAAAAAAAAAAAAAAAAAAALLLLLLLLLLLLLLLS */



.deal-info {
    margin: 0px 100px;
    padding-bottom: 45px;
}

.deals-text h2 {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;

}

.deals-text h2 span {
    color: #E95A08;
}

.deals-text p {
    text-align: center;
}

.deals-images {
    display: flex;
    justify-content: center;
    gap: 10px;

}


.deal-item .ana {
    max-width: 200px;
    width: 200px;
    display: block;
    border-radius: 10px;
}

.deal-item .bloom {
    max-width: 200px;
    width: 200px;
    display: block;
    border-radius: 10px;
}

.deal-item .zabo {
    max-width: 400px;
    width: 400px;
    border-radius: 10px;
}

/* Deal overlay styles */
.deal-item {
    position: relative;
    display: block;
}

.left .deal-item {
    margin-bottom: 10px;
}

.left .deal-item:last-child {
    margin-bottom: 0;
}

.deal-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
    width: 100%;
  

}

.deal-text {

    font-size: .75rem;
    font-weight: bold;
    margin: 0px;
    padding: 0px;

}

.shop-now {
    font-size: .75rem;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    background: none;
    border: none;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    text-decoration: underline;
 

}

.shop-now:hover
{
    color: #E95A08;
}

.deal-item img {
    filter: brightness(0.7);
   
}


/* Newssssssssssssssssssssssssssssssssssss Letterrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr*/
    .btn-sub:hover{
        background-color: #ffbe98;
        color: #757575;
    }

.news-letter {


    background-image: url(assets/news-letter-bg.png);
    max-width: 1440px;
    width: 100%;
    min-height: 350px;
    height: auto;
    align-items: center;
    align-content: center;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;






}

.news-title {
    text-align: center;
    font-size: 2.5rem;
    color: floralwhite;

}

.c2a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    gap: 0px;
}

.btn-sub {
    background-color: #E95A08;
    color: white;
    padding: 10px 20px;
    font-size: .6rem;
    font-weight: 500;
    border: none;

}

input {
    margin: 0px;
    padding: 10px 10px;
    font-size: .6rem;
    width: 400px;
    border: none;
}




/* FOOTEER */

.footer-container {
    display: flex;
    margin: 0px 0px;
    padding: 0px;
    justify-content: space-around;
    /* align-items: center; */
}

.footer-container li,
a {
    list-style: none;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: .75rem;

}

.footer-container a {
    color: #757575;
    margin-bottom: 10px;
}

.icons {
    margin-top: 10px;
}

.t {

    margin-bottom: 7px;
}


/* MOBILEEEEEEEEEEEEEEEEEEEEEEE RESPONSIVEEEEEEEEEEEEEEEE */



@media (max-width: 768px) {

    /* Navi for mobileeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee */
    nav {
        margin-top: 10px;
        padding: 0 20px;
    }

    .logo-image img {
        width: 50px;
        height: 30px;
        margin-left: 0;
    }

    .menu {
        margin-right: 0;
        gap: 0;
    }

    /* Gayeb Links */
    .menu a {
        display: none;
    }

    .cart {
        font-size: 12px;
        padding: 8px 12px;
    }

    /* Bannerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr for Mobieeeeeeeeeeeeeeeee*/
    .banner {
        margin: 40px 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    
    .banner-img {
        order: 1;
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
    }

    .banner-img img {
        width: 100%;
        height: auto;
    }

    
    .banner-text {
        order: 2;
        text-align: left;
        width: 100%;
    }

    .tagline {
        font-size: 2rem;
        padding-top: 0;
        margin-bottom: 15px;
    }

    .info {
        font-size: 0.9rem;
        margin-top: 10px;
        line-height: 1.4;
    }

    /* Our Plants section for mobileeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee */
    .our-plants-section {
        margin: 40px 10px;
    }

    .section-description {
        padding: 0px 20px;
        font-size: 0.7rem;
    }

    .plant-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin-top: 20px;
    }

    .plant-card img {
        width: 100%;
        max-width: 150px;
        height: auto;
    }

    .add-to-cart {
        width: 100%;
        max-width: 150px;
        font-size: 0.6rem;
        padding: 12px 0px;
    }
    .plant-name, .plant-price
    {
        font-size: .85rem;

    }

    /* Flower & Plants Lover section for mobileeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee */
    .flower-lover-section {
        margin: 40px 20px;
        padding: 0;
    }

    .flower-lover-container {
        flex-direction: column;
        gap: 30px;
    }

    .image-container {
        width: 100%;
    }

    .image-container .main-image {
        width: 100%;
        padding: 0;
    }

   
    .image-container .badge {
        display: none;
    }

    .text-container {
        width: 100%;
    }

    .text-container h2 {
        font-size: 1.8rem;
        margin-top: 0;
        text-align: left;
    }

    .text-container ul {
        font-size: 0.85rem;
        padding-left: 15px;
    }

    /* Latest Dealssssssssssssssssssssssssssssssssssssss section for mobileeeeeeeeeeeeeeeeeeeeee */
    .deals-section {
        margin: 40px 20px;
    }

    .deals-text h2 {
        font-size: 1.8rem;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .deal-info {
        margin: 0px 10px;
        padding-bottom: 30px;
        font-size: 0.85rem;
    }

    .deals-images {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .left {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .right {
        width: 100%;
    }

    .deal-item .ana,
    .deal-item .bloom,
    .deal-item .zabo {
        width: 100%;
        max-width: 100%;
    }

    .deal-item {
        width: 100%;
        margin-bottom: 15px;
    }

    .left .deal-item {
        margin-bottom: 15px;
    }

    .deal-text {
        font-size: 1rem;
    }

    .shop-now {
        font-size: 0.8rem;
    }

    /* Newsletterrrrrrrrrrrrrrrrrrrr section for mobileeeeeeeeeeeeeeeeeeeeeeee */
    .news-letter {

        max-width: none;
        min-height: 200px;
        background-size: cover;
        padding: 30px 15px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .news-title {
        font-size: 1rem;
        margin-bottom: 10px;
        text-align: center;
       
    }

    .c2a {
        flex-direction: row;
        gap: 0px;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 280px;
    }

    input {
        width: 180px;
        font-size: 0.7rem;
        padding: 8px 10px;
        border: none;
    }

    .btn-sub {
        font-size: 0.7rem;
        padding: 8px 12px;
       
    }

    .btn-sub:hover{
        background-color: #ffbe98;
        color: #757575;
    }


    /* Footerrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr for mobileeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee */
    .footer-container {
        flex-direction: column;
        
        gap: 30px;
        margin: 40px 20px;
        
    }

    .footer-left img {
        width: 60px;
        height: auto;
    }

    .footer-mid-1,
    .footer-mid-2 {
        width: 100%;
    }

    .mid-1,
    .mid-2 {
        padding: 0;
        margin: 0;
    }

    .mid-1 li,
    .mid-2 li {
        margin-bottom: 15px;
    }

    .icons {
        display: flex;
        
        gap: 10px;
        margin-top: 0;
        margin-left:0px;
        padding-left: 0px;
    }

    .icons img {
        width: 20px;
        height: 20px;
    }
}